@media (prefers-color-scheme: light) {
    body {
      --primary-color: #e7e0ee;
      --menu-color: #e7e0ee;
      --Burger-color: #0f0f0f;
      --hover-color: #11052c;
      --primary-text-color: #1a1a1a;
      --second-text-color: #1a1a1a;
      --sec-color: #f3f1f5;
      --color: #1f1f1f;
      --border-color: #ffffff46;
      --box-shadow-color: #00000015;
      --background-loader: #ffffff00;
    }
  }
  
  @media (prefers-color-scheme: dark) {
    body {
      --primary-color: #0f0f0f;
      --menu-color: #0f0f0f;
      --Burger-color: #e7e0ee;
      --hover-color: #ededed;
      --primary-text-color: #f0f0f0;
      --second-text-color: #f0f0f0;
      --sec-color: #1a1a1a;
      --color: #f0f0f0;
      --border-color: #ffffff46;
      --box-shadow-color: #00000015;
      --background-loader: #ffffff00;
    }
  }
  
  body {
    background: var(--primary-color);
    color: var(--color);
  }
  